*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100vh;
}

// Colors
$light-white: #fcfbf2;
$white: #fff5ee;
$light-green: #8fd899;
$green: #61c979;
$dark-green: #007f5f;
$light-yellow: #f7f377;
$yellow: #dbcc0f;
$orange: #fc8535;

// Sizes
$face-diameter: 60vmin;
$center-diameter: 5%;
$quarter-height: 12%;
$quarter-width: 2.5%;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-green;
  height: 100%;
}

.face {
  position: relative;
  height: $face-diameter;
  width: $face-diameter;
  border-radius: 50%;
  box-shadow: 
    -0.3vmin -0.3vmin 0.1vmin $white,
    3vmin 3vmin 0.1vmin $green
  ;

  background: radial-gradient(
    ellipse at center, 
    $light-yellow, $light-yellow 63%, 
    $light-white calc(63% + 1px), $light-white 65%, 
    $yellow calc(65% + 1px)
  );

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $center-diameter;
    height: $center-diameter;
    border-radius: 50%;
    background: $light-white;
  }

  .quarters {
    position: relative;
    height: 100%;

    div {
      position: absolute;
      background: $green;
      border-radius: 10%;
      
      &:nth-child(odd) {
        width: $quarter-height;
        height: $quarter-width;
        transform: translateY(-50%);
      }

      &:nth-child(even) {
        width: $quarter-width;
        height: $quarter-height;
        transform: translateX(-50%);
      }

      &:nth-child(1) {
        top: 50%;
        left: 7%;
      }
      
      &:nth-child(2) {
        top: 7%;
        left: 50%;
      }
      
      &:nth-child(3) {
        top: 50%;
        right: 7%;
      }
      
      &:nth-child(4) {
        bottom: 7%;
        left: 50%;
      }
    }
  }
}